section#advantages
   .wrapper 
      .text 
         nav.nav Advantages 
         h2.h2 We show why an online catalog is the best way to advertise a franchise
         

      .advs 
         .adv.visitors
            .container 
               h3 
                  span 3,000,000<br>
                  | visitors per year
               p Our directory is visited by almost 80% of all those interested in buying franchises in the World.
            img(src="./img/advantages/visitors.png", alt="visitors").visitor

         .adv.ranking 
            img(src="./img/advantages/ranking.jpg", alt="ranking").rank
            h4 High ranking on major search engines
            p We work hard to get our portal to the top of Google SERPsfor thematic search queries.

         .adv.rate 
            .container 
               h4 The high conversion rate
               p TopFranchise.com visitors are real entrepreneurs, inves-tors and prospective franchisees. The average conver-sion rate is 3%.
            img(src="./img/advantages/rate.png", alt="rate").rimg

         .adv.lead
            img(src="./img/advantages/lead.svg", alt="lead").international
            .container 
               h4 International lead generation
               p International reach expands across more than 150 countries.
