section#callback
   .wrapper 
      .left 
         .text 
            h2.h2 Do you still have questions?
            p Just follow our instructions and the franchise will become a profitable business for you
         
         .contact 
            img(src="./img/cta/avatar.jpg", alt="avatar" width=110 height=110).avatar
            
            .info 
               .person  
                  h3 Julia R.
                  h5 Head of the International Relations Department
               
               .socials 
                  .social 
                     img(src="./img/cta/call.svg", alt="call" width=40 height=40)
                     a(href="tel:14844145197") +1 484 414 5197

                  .social 
                     img(src="./img/cta/wa.svg", alt="wa" width=40 height=40)
                     a(href="https://wa.me/16189956619") +1 618 995 6619
                  .social 
                     img(src="./img/cta/mail.svg", alt="mail" width=40 height=40)
                     a(href="mailto:manager@topfranchise.com") manager@topfranchise.com

         p If you want to add your franchise to TopFranchise.com catalog please download franchise 
            a(href="#").link questionnaire
            |,&nbsp;fill it out and sent to: manager@topfranchise.com
      
      .right 
         .text 
            h3.title Want to advertise your franchise with usand successfully boost your business?
            p Please send us your requestand we will get back to you shortly!
         
         form(action="#" method="POST")
            .group
               input(type="text" name="name" placeholder="Name")
               input(type="email" name="email" placeholder="Email" required)
               input(type="tel" name="tel" placeholder="Phone number" required)
               input(type="text" name="city" placeholder="City")
            textarea(name="textarea", rows="4" placeholder="Your request")
            button.button.orange(type='submit') Submit
            label 
               .checkbox
                  input(type="checkbox", name="checkbox" required) 
                  span I agree with the&nbsp;
                     a(href="#").link terms and services