section#clients
   .wrapper 
      .text 
         nav.nav Our clients 

         h2.h2 We work with major brands and help new companies find partners
         small.small We find an approach to each client, recommend suitable services, bring the client to the result

      .clients
         .client
            img(src="./img/clients/logo_1.svg", alt="signarama")
         .client
            img(src="./img/clients/logo_2.svg", alt="subway")
         .client
            img(src="./img/clients/logo_3.svg", alt="yumchina")
         .client
            img(src="./img/clients/logo_4.svg", alt="sfc")
         .client
            img(src="./img/clients/logo_5.svg", alt="wayback burgers")
         .client
            img(src="./img/clients/logo_6.svg", alt="boconcept")