footer#footer
   .wrapper 
      .f 
         .follow 
            img(src="./img/logo.svg", alt="logo_Top_Franchise" width=200 height=30)
            h3 Follow us 
            .links 
               a(href="#") 
                  i.fa-brands.fa-linkedin-in.fa_background(style='color: #ffffff;')
               a(href="#") 
                  i.fa-brands.fa-instagram.fa_background(style='color: #ffffff;')
               a(href="#") 
                  i.fa-brands.fa-youtube.fa_background(style='color: #ffffff;')

         .navs
            nav.navs__nav 
               a(href="#") All franchises 
            nav.navs__nav 
               a(href="#") How to add your franchise
            nav.navs__nav 
               a(href="#") Testimonials
            nav.navs__nav 
               a(href="#") Catalog of franchises
            nav.navs__nav 
               a(href="#") Franchise Development
            nav.navs__nav 
               a(href="#") Franchise Development FAQ 
            nav.navs__nav 
               a(href="#") Suppliers
            nav.navs__nav 
               a(href="#") Partners
            
            nav.navs__nav 
               a(href="#") Articles
            nav.navs__nav 
               a(href="#") News
            nav.navs__nav 
               a(href="#") About us
            nav.navs__nav 
               a(href="#") Contacts
            nav.navs__nav 
               a(href="#") Privacy Policy
            
         .subscribe
            h4 Subscribe to our newsletters and keep up-to-date with the latest news in the franchise industry.
            form(action="#").email
               .input  
                  input(type="email" placeholder="Enter Email")
                  button(type="submit") OK 
               label 
                  .checkbox
                     input(type="checkbox", name="checkbox" required) 
                     h5 I agree with the&nbsp;
                        a(href="#").link terms and services

      .copyright
         span Top Franchise &copy; 2012-2023
         span All Rights Reserved