section#header 
   .wrapper
      .logo 
         img(src="./img/logo.svg", alt="logo" width=200 height=28)
      nav.navs 
         nav
            a(href="#advantages") Advantages 
         nav 
            a(href="#testimonials") Testimonials 
         nav
            a(href="#stages") Stages of cooperation 
         nav
            a(href="#packages") Exclusive offers
         nav.get.openModalBtn
            a(href="#callback") Ask a question 
      .ask.button.orange.openModalBtn  
         a(href="#callback") Ask a question 
      .burger
         span
         span
         span
         span