section#mainscreen 
   .wrapper 
      .left 
         h1 Sell your franchise with Topfranchise.com
         .button.orange.openModalBtn Leave a request
         p We will tell you how much it will cost to placement and the average price of an application for your area, how to create a franchise ad with a conversion rate of 10%, how to build stable sales and effectively use the services of the portal
      .right
         img(src="./img/mainscreen/man.png", alt="man").img
      img(src="./img/mainscreen/o_h.svg", alt="oval high").high
      img(src="./img/mainscreen/o_l.svg", alt="oval low").low
      