section#packages
   .wrapper 
      .text 
         nav.nav Packages for placement 
         h2.h2 We have created different packages so that you can choose the services you need

      .packages 
         .package 
            .offer 
               h3 6 months
               span.type basic offer
            
            .start
               p Pay only the 6 months listing fee and receive individual bonus!
               .button.orange.openModalBtn Start now

         .package 
            .offer 
               h3 12 months
               span.type basic offer
            
            .start
               p Pay only the 12 months listing fee and receive super bonus!
               .button.orange.openModalBtn Start now

         .package 
            .offer 
               h3 12 months
               span.type.exclusive Exclusive offer
            
            .start
               p Placement with Premium Plus plan
               .button.orange.openModalBtn Start now