section#stages
   .wrapper 
      .left 
         .text 
            nav.nav Stages of cooperation
            h2.h2 How to start your franchise sales?
            p Please follow 3 simple steps to add your franchise to TopFranchise.com catalog and from the very first days get 
               a(href="#").link applications from
               |&nbsp;prospective franchisees and master franchisees from all around the world!
            
            .button.orange.openModalBtn Ask a question
         
         .map 
            img(src="./img/stages/worldmap.png", alt="worldmap")
            p Your reviewed, approved and search engine optimized page in our catalog will put your franchise opportunity in front of thousands of prospective franchisees and business owners. All you have to do is to get leads and contact directly with potential franchisees!

      .right
         .steps 
            .step 
               img(src="./img/stages/s_1.jpg", alt="step 1" width=300 height=240).step__img

               .info 
                  h3 Step #1
                  h4 Submit a request and we will contact you ASAP

            .step 
               img(src="./img/stages/s_2.jpg", alt="step 2" width=300 height=240).step__img

               .info 
                  h3 Step #2
                  h4 
                     a(href="#").link Fill out the application&nbsp;
                     |and send it to:&nbsp; 
                     a(href="#").link manager@topfranchise.com

            .step.border  
               img(src="./img/stages/s_3.jpg", alt="step 3" width=300 height=240).step__img

               .info 
                  h3 Step #3
                  h4 Choose the pricing plan
