section#testimonials
   .wrapper 
      .text 
         nav.nav Testimonials
         h2.h2 What customers write about us

         small.small We build trusting relationships with clients, strive to become not just a contractor, but a valuable business partner
      
      .testimonials 
         .tm
            .union 
               .user 
                  img(src="./img/testimonials/scott.svg", alt="scott" width=90 height=90).user__img
                  .init 
                     h3 Scott Hagg
                     h5 International Franchise Development Arabica Coffee House
               .feedback 
                  h4 I am very grateful to the Topfranchise team. Thanks to the platform www.topfranchise.com I sold a Master franchise to Pakistan this year!

            .company 
               .info 
                  img(src="./img/testimonials/scott_c.svg", alt="scott's company" width=70 height=70 ).info__img
                  .container
                     img(src="./img/testimonials/stars.svg", alt="stars") 
                     strong Arabica Coffee House

               .button.orange.openModalBtn About Franchise

         .tm
            .union 
               .user 
                  img(src="./img/testimonials/dkd.svg", alt="dkd").user__img
                  .init 
                     h3 Dionysios K . Dafaranos
                     h5 International Franchise Development Mikel Coffee Company
               .feedback 
                  h4 Since beginning utilizing the TopFranchise platform, we have enjoyed a value for money proposition in terms of advertising our brand to international markets and potential franchisees throughout the world.

                  h4 So far, we have been pleased and treated as valued customers providing discounts to advertising packages in the English and the Russian version of the company.

                  h4 We move forward into 2022, with the assurance of having TopFranchise as a valued advertisingpartner in expanding the Mikel Brand even further.

            .company 
               .info 
                  img(src="./img/testimonials/dkd_c.svg", alt="dkd's company" width=70 height=70).info__img
                  .container
                     img(src="./img/testimonials/stars.svg", alt="stars") 
                     strong Mikel Coffee Company
                     
               .button.orange.openModalBtn About Franchise

         .tm
            .union 
               .user 
                  img(src="./img/testimonials/jidar.svg", alt="jidar").user__img
                  .init 
                     h3 Jigar Doriwala
                     h5 CEO Tenacious Techies
               .feedback 
                  h4 My name is Jigar Doriwala. I am the founder and CEO of Tenacious Techies. Our company provides complete digital solutions.

                  h4 A few years ago we decided to start the global expansion, so we started looking for ways how to find our new franchisees. Last year we noticed the Topfranchise.com marketplace. Since the time we got listed here, our Franchise pitch has been visited by thousands of people, and a couple of hundreds had left their requests. I would like to share a success story. We received the lead from Topfranchise.com. It was a potential franchisee from the USA, who was interested in becoming a part of our company. Today he operates as our Franchisee in Grove town, USA.

                  a(href="#").link Read more 
              

            .company 
               .info 
                  img(src="./img/testimonials/jidar_c.svg", alt="jidar's company" width=70 height=70).info__img
                  .container
                     img(src="./img/testimonials/stars.svg", alt="stars") 
                     strong Tenacious Techies
                     
               .button.orange.openModalBtn About Franchise
                
      