section#why 
   .wrapper 
      .text 
         nav.nav Why we 
         h2.h2 Prove that selling a franchise is easier with our help!

      .prove
         .our.default 
            h3 Topfranchise.com

            .marks
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 The audience of our portal reaches 
                     span 3,000,000&nbsp;
                     |visitors per year
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 Database of more than 
                     span 150,000&nbsp;
                     |investors
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 Your personal manager will secure the future success of your franchise on TopFranchise.com
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 Practical advice and marketing recommendations on how to make your pages in our catalog look perfect
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 It is possible to create unique lead generating landing page for your franchise
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 You can publish your franchise news and articles on our portal
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 Expanded target audience funnel. Your franchise will be present in all related catalog sections
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 We offer mailing, banner advertising, top listing options, etc
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 Search engine optimization of your franchise page in catalog enhance your online presence and increase your chances of ranking highly on major search engines, such as Google
               .mark 
                  img(src="./img/why/o_mark.svg", alt="mark" width=25 height=25)
                  h4 Our portal provides a complete suite of advertising options designed for prospective franchisees to find your franchise. We are the experts in all kinds of business promotion.

         .other.default
            h3 OTHER METHODS

            .marks
               .mark 
                  img(src="./img/why/g_mark.svg", alt="mark" width=25 height=25)
                  h4 Applications have become very expensive
               .mark 
                  img(src="./img/why/g_mark.svg", alt="mark" width=25 height=25)
                  h4 Conversion per transaction - at the level of 1%
               .mark 
                  img(src="./img/why/g_mark.svg", alt="mark" width=25 height=25)
                  h4 Most often there are few applications for big money
               .mark 
                  img(src="./img/why/g_mark.svg", alt="mark" width=25 height=25)
                  h4 Nobody helps to place an ad correctly
               .mark 
                  img(src="./img/why/g_mark.svg", alt="mark" width=25 height=25)
                  h4 You need to spend money separately on copywriters and designers
               .mark 
                  img(src="./img/why/g_mark.svg", alt="mark" width=25 height=25)
                  h4 Applications are not moderated, there is a lot of spam.
      
      .smallcta   
         .l 
            img(src="./img/why/svg_companies.svg", alt="companies" width=245 height=60)
            h4 Leave a request and start earning on the franchise with us!

         .r
            small More than 1 500 companies have entered the franchising market with us

            .button.orange.openModalBtn Add your franchise