include ../components/index


main
   include _header
   include _mainscreen
   include _advantages
   include _why
   include _stages
   include _clients
   include _packages
   include _testimonials
   include _callback
   include _footer