doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width" )
      link(rel='stylesheet', type='text/css' href='./js/libs/splide/dist/css/splide.min.css')
      link(rel="shortcut icon", href="./img/aboutme/circle_logo.svg", type="image/x-icon")
      link(rel="stylesheet", href="./css/style.css")
      title Главная
   body 
      include ../sections/index.pug


      div(class='modal' id="myModal")
         .modal-content
            span.close#closeModalBtn
               svg.closesvg(width='26', height='26', viewBox='0 0 26 26', xmlns='http://www.w3.org/2000/svg')
                  path(d='M19.5 6.5L6.5 19.5', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M6.5 6.5L19.5 19.5', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

            .form 
               form(action="./php/mail.php" method="POST")
                  h3 Мы рады ответить на все интересующие вас вопросы
                  h4 Позвоните и получите личную консультацию по запуску франшизы

                  .inputs
                     input(type="text" placeholder="Ваше имя" name="name")
                     input(type="tel" placeholder="Телефон" name="phone")
                     input(type="email" placeholder="Электронная почта" name="email")
                     input(type="text" placeholder="Город" name="city")

                  button(type='submit').button Запишитесь на личную консультацию


      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer")  
      script(src='https://kit.fontawesome.com/4081a7d19a.js', crossorigin='anonymous')

      script(src="./js/burger.js")

      script(src="./js/modal.js")

      script(src='./js/scrollObserver.js')

      //- script(src='./js/libs/splide/dist/js/splide.min.js')

      //- script(src="./js/libs/jquery.mask.min.js")
      //- script(src="./js/slider.js")

      //- script(src="./js/masks/input.js")






