@use "../variables.scss" as *;

#clients {
  background-color: $background;

  .wrapper {
    padding: 0 50px 100px;
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1341px;

      margin-bottom: 50px;

      .nav {
        max-width: 120px;
        align-self: flex-start;
      }

      .h2 {
        max-width: 520px;
      }

      .small {
        display: flex;
        max-width: 320px;
        align-self: flex-end;
      }
    }

    .clients {
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 18px;

      grid-template-columns: repeat(3, minmax(300px, 435px));
      grid-template-rows: repeat(2, 266px);

      .client {
        display: flex;
        background-color: $w;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px;

        img {
          object-fit: contain;
          max-width: 330px;
          width: 100%;
          max-height: 120px;
        }
      }
    }

    @media (max-width: $lscreen) {
      .text {
        .h2 {
          max-width: 470px;
        }

        .small {
          max-width: 280px;
        }
      }
    }

    @media (max-width: $notebooks) {
      padding: 50px 25px;

      .text {
        margin-bottom: 40px;

        flex-direction: column;

        .h2 {
          align-self: center;
        }
      }

      .clients {
        grid-template-columns: repeat(2, minmax(300px, 435px));
        grid-template-rows: repeat(3, 266px);
      }
    }

    @media (max-width: $tablet) {
      .text {
        .nav {
          margin-bottom: 20px;
        }

        .h2,
        .small {
          align-self: unset;
        }

        .h2 {
          margin-bottom: 10px;
        }

        .small {
          font-size: 16px;
          max-width: 350px;
        }
      }

      .clients {
        grid-template-columns: repeat(2, minmax(200px, 435px));
        grid-template-rows: repeat(3, 200px);
      }
    }

    @media (max-width: $mobile) {
      padding: 20px 10px;

      .text {
        margin-bottom: 20px;

        .nav {
          margin-bottom: 15px;
        }
      }

      .clients {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .client {
          img {
            max-height: 70px;
          }
        }
      }
    }
  }
}
