@use "../variables.scss" as *;

$bluegrey: #a7aab4;

#footer {
  background-color: $background;

  .wrapper {
    padding: 60px;
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    border-radius: 40px;
    background-color: $footerbg;
    color: $w;

    .f {
      display: flex;
      padding: 0 0 40px;
      border-bottom: 1px solid rgba($color: $w, $alpha: 0.2);
      justify-content: space-between;
      align-items: baseline;

      .follow {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-size: 18px;
          font-weight: 600;
          color: $bluegrey;
        }

        .links {
          display: flex;
          gap: 10px;

          i {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 38px;
            width: 38px;
            text-align: center;
            border-radius: 50%;

            &.fa_background {
              background-color: $footerbgicons;
            }
          }
        }
      }

      .navs {
        display: flex;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 300px;

        &__nav {
          a {
            font-size: 16px;
            text-decoration: underline;
            font-weight: 400;
            color: $bluegrey;
          }
        }
      }

      .subscribe {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h4 {
          font-size: 14px;
          color: $bluegrey;
          font-weight: 400;
          max-width: 320px;
        }

        .email {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .input {
            display: flex;
            max-height: 40px;
            flex-direction: row;

            input {
              border-radius: 0;
              max-width: 260px;
              max-height: 40px;

              font-size: 16px;
              color: $w;
              font-weight: 400;

              &::placeholder {
                font-weight: 400;
                font-size: 16px;
                color: $bluegrey;
              }
            }

            button {
              max-width: 40px;
              width: 100%;
              max-height: 40px;

              height: 40px;

              background-color: $orange;
            }
          }

          label {
            .checkbox {
              align-items: center;

              input {
                width: 22px;
                height: 22px;

                &:checked {
                  border-color: $dark;
                  background: $dark;
                }
              }

              h5 {
                font-size: 14px;
                color: $bluegrey;
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;

      span {
        font-size: 14px;
        color: $bluegrey;
        font-weight: 400;
      }
    }

    @media (max-width: $lscreen) {
      .f {
        .follow {
          gap: 10px;

          h3 {
            font-size: 16px;
          }
        }
      }
    }

    @media (max-width: $notebooks) {
      padding: 30px;

      .f {
        align-items: center;
        flex-direction: column;
        gap: 40px;

        .subscribe {
          h4 {
            max-width: 300px;
          }
        }
      }
    }

    @media (max-width: $tablet) {
      border-radius: 20px;
    }

    @media (max-width: $mobile) {
      padding: 20px 10px;

      .f {
        .follow {
          order: 0;
        }
        .navs {
          max-height: 200px;
          order: 2;
          gap: 10px;

          &__nav {
            a {
              font-size: 15px;
            }
          }
        }

        .subscribe {
          order: 1;
          align-items: center;
          justify-content: center;

          h4 {
            max-width: 265px;
            text-align: left;
          }

          .email {
            .input {
              button {
                width: 40px;
              }
            }
          }
        }
      }

      .copyright {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
