@use "../variables.scss" as *;

#header {
  background-color: $background;

  transition: opacity 1.5s ease, transform 1.5s ease;
  &.dark {
    .wrapper {
      background: $dark;
    }
  }
  .wrapper {
    // border-top-right-radius: 40px;
    // border-top-left-radius: 40px;
    background: rgb(112, 162, 193);
    background: linear-gradient(
      90deg,
      rgba(112, 162, 193, 1) 0%,
      rgba(99, 149, 180, 1) 100%
    );

    padding: 10px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;

    .navs {
      display: flex;
      align-items: center;
      gap: 10px;

      nav {
        color: $w;
        padding: 14px 24px;
        border-radius: 40px;
        border: 1px solid $w;
        text-align: center;

        a {
          font-weight: 400;
          font-size: 16px;
        }

        &.get {
          display: none;
        }
      }
    }

    .ask {
      font-size: 16px;
      font-weight: 500;
      max-width: 180px;
    }

    @media (max-width: $sxga) {
      .navs {
        nav {
          padding: 14px 16px;
        }
      }
    }

    @media (max-width: $lscreen) {
      padding: 10px 15px 10px;

      .logo {
        img {
          width: 180px;
        }
      }

      .navs {
        nav {
          padding: 14px 8px;

          a {
            font-size: 15px;
          }
        }
      }

      .ask {
        max-width: 160px;
        &.button {
          padding: 14px 12px;
        }
      }
    }

    @media (max-width: $notebooks) {
      .navs {
        nav {
          padding: 10px 4px;
          text-align: center;

          a {
            font-size: 14px;
          }
        }
      }

      .ask {
        font-size: 14px;
        max-width: 130px;

        &.button {
          padding: 10px 12px;
        }
      }
    }

    @media (max-width: $tablet) {
      padding: 10px 10px 10px;

      align-items: center;
      position: fixed;
      top: 0px;
      width: 100%;
      z-index: 2;

      // border-top-left-radius: 20px;
      // border-top-right-radius: 20px;

      .navs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 5;
        gap: 20px;

        nav {
          position: relative;
          z-index: 3;
          display: block !important;

          a {
            font-size: 15px;
            z-index: 4;
            padding: 0 10px;
          }
        }

        &.active {
          top: 0;
          background-color: $blue;
        }

        .get {
          display: block;
        }
      }

      .ask {
        display: none;
      }

      .burger {
        span {
          background-color: $w;
        }
      }
    }
  }
}
