@use "../variables.scss" as *;

#mainscreen {
  background-color: $background;

  .wrapper {
    padding: 60px 60px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    align-items: center;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    background: rgb(112, 162, 193);
    background: linear-gradient(
      90deg,
      rgba(112, 162, 193, 1) 0%,
      rgba(99, 149, 180, 1) 100%
    );

    .left {
      color: $w;
      z-index: 3;

      h1 {
        font-size: 64px;
        font-weight: 700;
        max-width: 690px;
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      .button {
        max-width: 440px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      p {
        line-height: 140%;
        max-width: 650px;
        font-size: 22px;
        font-weight: 300;
      }
    }

    .right {
      position: relative;

      .img {
        object-fit: fill;
        width: 100%;
      }

      .img {
        position: relative;
        z-index: 3;
        transform: translateY(4px);
      }
    }

    .high,
    .low {
      position: absolute;
      z-index: 2;
      max-width: 750px;
    }

    .high {
      top: -80px;
      left: 0px;
    }

    .low {
      right: 0;
      bottom: 0;
    }

    @media (max-width: $sxga) {
      .left {
        h1 {
          font-size: 58px;
        }

        p {
          max-width: 600px;
        }
      }

      .low {
        max-width: 600px;
      }

      .high {
        max-width: 460px;
      }
    }

    @media (max-width: $lscreen) {
      .left {
        h1 {
          font-size: 52px;
        }

        .button {
          max-width: 350px;
          font-size: 18px;
        }

        p {
          font-size: 20px;
        }
      }

      .low {
        max-width: 460px;
      }

      .high {
        max-width: 380px;
      }
    }

    @media (max-width: $notebooks) {
      padding: 60px 30px 0;

      .left {
        h1 {
          font-size: 40px;
          max-width: 450px;
        }

        .button {
          max-width: 280px;
          margin-bottom: 20px;
          padding: 12px;
          font-size: 16px;
        }

        p {
          font-size: 18px;
          max-width: 420px;
        }
      }

      .right {
        img {
          max-width: 400px;
        }
      }

      .low {
        max-width: 400px;
      }

      .high {
        max-width: 280px;
      }
    }

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .left {
        h1 {
          font-size: 42px;
        }

        .button {
          max-width: 100%;
          padding: 14px;
        }

        p {
          font-weight: 400;
        }
      }

      .right {
        img {
          max-width: 350px;
        }
      }

      .high {
        max-width: 260px;
      }

      .low {
        max-width: 450px;
      }
    }

    @media (max-width: $mobile) {
      padding: 60px 10px 0 10px;

      .left {
        h1 {
          font-size: 28px;
          margin-bottom: 12px;
          max-width: 300px;
        }

        .button {
          max-width: 300px;
          padding: 12px;
          font-size: 14px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
