@use "../variables.scss" as *;

#packages {
  background-color: $background;

  .wrapper {
    padding: 0 50px 100px;
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-bottom: 50px;

      .nav {
        margin-bottom: 30px;
        max-width: 200px;
      }

      .h2 {
        text-align: center;
        max-width: 910px;
      }
    }

    .packages {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      .package {
        background-color: $w;
        border-radius: 20px;
        padding: 24px;

        width: 435px;

        .offer {
          display: flex;
          justify-content: space-between;
          margin-bottom: 118px;

          h3 {
            font-size: 32px;
            font-weight: 500;
            color: $dark;
          }

          .type {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            color: $grey;
            padding: 10px 22px;
            border-radius: 40px;
            border: 2px solid $grey;

            &.exclusive {
              color: $blue;
              border: 2px solid $blue;
            }
          }
        }

        .start {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          p {
            font-size: 18px;
            font-weight: 400;
            color: $grey;
            max-width: 190px;
          }

          .button {
            max-width: 170px;
            max-height: 50px;
          }
        }
      }
    }

    @media (max-width: $notebooks) {
      padding: 50px 25px;

      .text {
        .h2 {
          max-width: 500px;
        }
      }
    }

    @media (max-width: $tablet) {
      .text {
        margin-bottom: 25px;
      }

      .packages {
        .package {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .offer {
            align-items: center;

            h3 {
              font-size: 26px;
            }
          }
        }
      }
    }

    @media (max-width: $mobile) {
      padding: 20px 10px;

      .text {
        margin-bottom: 25px;

        .nav {
          margin-bottom: 15px;
        }
      }

      .packages {
        .package {
          width: -webkit-fill-available;
          max-width: 435px;
          padding: 20px 18px;

          .offer {
            margin-bottom: 30px;
            flex-direction: column-reverse;
            gap: 14px;

            .type {
              font-size: 12px;
              max-width: unset;

              &.exclusive {
                text-align: center;
                max-width: unset;
              }
            }
          }

          .start {
            gap: 5px;
            flex-direction: column;
            align-items: center;

            p {
              font-size: 16px;
              max-width: unset;
              text-align: center;
              line-height: 140%;
              margin-bottom: 12px;
            }

            .button {
              max-width: unset;
            }
          }
        }
      }
    }
  }
}
