// Media-Queries
$mobile: 480px;
$tablet: 768px;
$notebooks: 1024px;
$lscreen: 1200px;
$sxga: 1300px;
$xlscreen: 1920px;

//Text colors
$green: #b0cb1f;
$dark: #242731;
$grey: #5b5d65;
$orange: #ff6c29;
$w: #fff;
$placeholder: #ffffff;
$red: #ec1c26;
$blue: #70a2c1;

//Borders colors
$bordergrey: #e1e1e1;
$bordergreen: #b0cb1f;
$bordercard: #ceccbf;

//Background colors
$whitegreen: #faf8eb;
$backgroundgreen: #f2f5d5;
$greenbox: rgba(176, 203, 31, 0.08);
$background: #f5f5f5;
$firstground: #eff4fa;
$backlightblue: #ddeef9;

$footerbg: #222a44;
$footerbgicons: #394057;
